{% extends "base.html" %}

{% block title %}
Update
{% endblock %}

{% block header %}
<label>Welcome {{user.first_name}}, </label>
<label><a href="user/login">Logout</a></label>
{% endblock %}

{% block content %}
<table class="container">
    <form method="POST" action="/home/updateItems/{{item.id}}" >
        {% csrf_token %}
        {{updateForm}}
        <!-- <tr><td><input type="text" name="item" value="{{item.item}}" class="form-control"></td>
            <td><select name="item_type" class="form-control">
                    <option value="{{item.item_type}}">{{item.item_type}}</option>
                    <option value="Salaries and wages">Salaries and wages</option>
                    <option value="Utility expenses">Utility expenses</option>
                    <option value="Administration expenses">Administration expenses</option>
                    <option value="Finance costs">Finance costs</option>
                    <option value="Depreciation">Depreciation</option>
                    <option value="Impairment losses">Impairment losses</option>
                    <option value="Food">Food</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        <tr><td><input type="text" name="cost" value="{{item.cost}}" class="form-control"></td>
            <td><label>Cost Type:</label><br>
                {% if item.cost_type == "Income" %}
                <input type="radio" name="cost_type" value="Income" checked>Income
                <input type="radio" name="cost_type" value="Expense">Expense</td></tr>
                {% else %}
                <input type="radio" name="cost_type" value="Income">Income
                <input type="radio" name="cost_type" value="Expense" checked>Expense
                {% endif %}
            </td>
        </tr>
        <tr><td><textarea name="remark">{{item.remark}}</textarea></td>
            <td><input type="date" name="date" value="{{item.date}}"></td>
        </tr> -->
        <tr><td colspan="2"><button type="submit" class="btn btn-outline-info btn-sm">Update</button></td></tr>
    </form>    
    <td><a href="/home/"><button type="button" class="btn btn-outline-secondary btn-sm">Back</button></a></td> 
    </table>

{% endblock %}